@model TestWithoutAutentification.Models.Resume
@*Просмотр резюме (для сторонних людей)*@
@{
    ViewData["Title"] = "Просмотр Резюме";
}

<nav class="navbar navbar-expand-sm">
    <div class="container justify-content-end">
        <partial name="_LoginPartialCompany" />
    </div>
</nav>

<div style="display: flex; align-items: center;">
    <h4>Просмотр резюме</h4>
    <a style="cursor:pointer; margin-left:40px;" title="Скачать" class="download" href="/files/Resume.pdf" download></a>
</div>
<hr />
<div class="d-flex justify-content-between">
    <div class="w-75">
        <h3 class="mb-3">@Html.DisplayFor(model => model.Position)</h3>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FullName)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Age)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.MobilePhone)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.MobilePhone)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CityId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.City.Name)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.GenderId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Gender.Name)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.SpecializationId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Specialization.Name)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.WorkExperienceId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.WorkExperience.Name)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Salary)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Salary.Amount)
                @Html.DisplayFor(model => model.Salary.Currency.Name)
            </dd>
        </dl>
        @if (Model.AboutMyself != null)
        {
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AboutMyself)
                </dt>
                <dd class="col-sm-8">
                    <textarea asp-for="AboutMyself" style="overflow:hidden;" class="textareaShow" readonly></textarea>
                </dd>
            </dl>
        }
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.EducationLevelId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.EducationLevel.Name)
            </dd>
        </dl>
        <div class="mb-3" style="font-size: 0.85rem; color:gray;">
            Создано @Html.DisplayFor(model => model.CreationDate)
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary modalBtn" data-url="@Url.Action("GetPartialMail", "CompanyHome", new { id = Model.Id })" value="Связаться" />
        </div>
        <div>
            <a asp-action="Index" asp-controller="CompanyHome">К списку</a>
        </div>
    </div>
   
    <div class="w-25 h-25 text-center">
        @if (@Model.Image != null)
        {
            <img class="avatar" src="@Model.Image.Path" />
        }
    </div>
</div>
