@model IEnumerable<TestWithoutAutentification.Models.Vacancy>
@*Просмотр списка СВОИХ вакансий Компанией*@
@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-expand-sm">
    <div class="container justify-content-end">
        <partial name="_LoginPartialCompany" />
    </div>
</nav>

<form asp-action="Create" asp-controller="Vacancies" method="get" style="margin: 10px 0 10px 0;">
    <button class="btn btn-primary">
        Создать вакансию
    </button>
</form>
@foreach (var item in Model)
{
<div id="list-main">
    <div class="listContainer">
        <div class="list-title">
            <a asp-action="Details" asp-controller="Vacancies" asp-route-id="@item.Id">@item.Position</a>
        </div>
        <span class="font-weight-bold">@item.Salary.Amount @item.Salary.Currency.Name</span>
        <div>
            <span class="list-description">О компании</span><br />
            <a href="@item.Company.Site">@item.Company.Name</a> <br />
            @if (item.CityId != null)
            {
                <span>г. @item.City.Name</span>
            }
        </div>
        @if (@item.WorkExperience.Name == "Нет опыта")
        {
            <span class="list-description">Опыт не требуется</span><br />
        }
        else
        {
            <div>
                <span class="list-description">Требуемый опыт</span><br />
                @item.WorkExperience.Name
            </div>
        }
    </div>
</div>
}

